[submodule "sts"]
	path = sts
	url = https://github.com/kieselsteini/sts.git
[submodule "tsf"]
	path = tsf
	url = https://github.com/schellingb/TinySoundFont.git
[submodule "mini_al"]
	path = mini_al
	url = https://github.com/dr-soft/mini_al.git
[submodule "dr_libs"]
	path = dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "other"]
	path = other
	url = https://github.com/nothings/single_file_libs
[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
[submodule "cute"]
	path = cute
	url = https://github.com/RandyGaul/cute_headers.git
[submodule "miniz"]
	path = miniz
	url = https://github.com/richgel999/miniz.git
[submodule "atomix"]
	path = atomix
	url = https://github.com/BareRose/atomix.git
[submodule "swrap"]
	path = swrap
	url = https://github.com/BareRose/swrap.git
[submodule "px"]
	path = px
	url = https://github.com/pplux/px
[submodule "hopscotch-map"]
	path = hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "mmx"]
	path = mmx
	url = https://github.com/vurtun/mmx
[submodule "libs"]
	path = libs
	url = https://github.com/mattiasgustavsson/libs
[submodule "jar"]
	path = jar
	url = https://github.com/kd7tck/jar
[submodule "xbyak"]
	path = xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "tiny-utf8"]
	path = tiny-utf8
	url = https://github.com/DuffsDevice/tiny-utf8.git
[submodule "cutf"]
	path = cutf
	url = https://github.com/tapika/cutf
[submodule "cista"]
	path = cista
	url = https://github.com/felixguendling/cista
[submodule "ctl"]
	path = ctl
	url = https://github.com/glouw/ctl
[submodule "alternative-ctl"]
	path = alternative-ctl
	url = https://github.com/rurban/ctl
[submodule "cpp-handle-container"]
	path = cpp-handle-container
	url = https://github.com/pr0g/cpp-handle-container
